<!--timer section-->
<div class="container timmer-new">
  <h1 id="head">Private Sale Start</h1>
  <ul>
      {{!-- <li>Private Sale Start <span>30% discount</span></li> --}}
    <li><span id="days"></span>days</li>
    <li><span id="hours"></span>Hours</li>
    <li><span id="minutes"></span>Minutes</li>
    <li><span id="seconds"></span>Seconds</li>
  </ul>
  <h1 style="color: red;
    font-weight: bold;">30% discount</h1>
</div>

<style>

.timmer-new {
    margin-top: 100px;
  background-color: #ffc000;
}

.timmer-new {
  color: #333;
  text-align: center;
}

.timmer-new h1 {
  font-weight: normal;
}

.timmer-new li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: #431d5f;
  color: #ffc000;
  border-radius: 25px;


}

.timmer-new li span {
  display: block;
  font-size: 4.5rem;
}
</style>



<!--timer section-->
<script>
const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

let countDown = new Date('Aug 10, 2018 12:00:00').getTime(),
    x = setInterval(function() {

      let now = new Date().getTime(),
          distance = countDown - now;

      document.getElementById('days').innerText = Math.floor(distance / (day)),
        document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
        document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
        document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
      
      //do something later when date is reached
      //if (distance < 0) {
      //  clearInterval(x);
      //  'IT'S MY BIRTHDAY!;
      //}

    }, second)
</script>
