.xbn-btn{
	min-width: 80px;
	padding: 12px 40px;
	font-size: $large-btn-font-size;
	line-height: 1.2;
	color: $color-title;
	border-radius: 30px;
	text-align: center;
	background: transparent;
	border: 1px solid $color-title;
	max-width: 400px;
	cursor: pointer;
	text-transform: uppercase;
	transition: all 380ms ease-in-out;
	@include media-breakpoint-down(md){
		font-size: 14px;
	}
	
	&.white-btn{
		border-color: $color-white;
		color: $color-white;

	}
	@include linkstate(){
		outline: none;
		@include btn-background();
		color: $color-white;
		border-color: transparent;

	}
	&.small{
		font-size: 14px;
		padding: 10px 20px;
		@include btn-background();
		color: $color-white;
		border: none;
	}
}