.content-section{
	width: 100%;
	display: flex;
	min-height: 400px;	
	&--left-side{
		width: 50%;
		@include horizontal-centered();
		flex-direction: column;
		padding: 2em;
		&.right-align{
			align-items: flex-end;
		}		
		.inner{
			width: 75%;
		}
	}
	&--right-side{
		width: 50%;
	}
	&.contribution-section{
		background: url('../../images/cube-bg.png') no-repeat;
		@include vertical-centered();
		flex-direction: column;
		padding: 4em 8em;
		.big-title{
			text-align: center;
			max-width: 60%;
		}
		&--profit-details{
			display: flex;
			justify-content: center;
			.profit-column{
				margin: 2em;
				padding: 2em;
				width: 26%;
				display: flex;
				align-items: center;
				flex-direction: column;
				@include media-breakpoint-down(xl){
					width: 33%;
				}
				&--title{
					text-align: center;
					font-size: 24px;
					color: $color-indigo;
					margin-top: 1.5em;
					@include media-breakpoint-down(md){
						font-size: 18px;
					}
					
				}
				img{
					max-width: 180px;
				}
				&.net-profit{
					@include main-background();
					border-radius: 10px;
					justify-content: center;								
				}
				.xbn-btn{
					margin-top: 20px;
				}
				&--details{
					text-align: center;
					color: $color-white;
					margin-top: 2em;
					line-height: 1.5;
				}
			}


		}
	}
}