.xbn-faq{

  &--header{
    font-size: 24px;
    font-weight: bold; 
    color: $color-title;
    margin-bottom: 5px;
    margin-top: 20px;
    &:first-child{
      margin-top: 0;
    }
    @include media-breakpoint-down(sm){
      font-size: 16px;
    }
  }
  &--card{
    width: 100%;
    margin-bottom: 10px;
    &--header{      
    padding: 7px 15px;
    border: none;
    background: $color-light-grey;
    &:hover{
      background: darken($color-light-grey, 5%);
    }
      a{
        color: $color-purple;
        display: block;
        &:hover{
          text-decoration: none;
        }
      }
    }
    &--body{
      padding: 15px;
      background: $color-white;
      font-size: $font-reg;
      border: 1px solid $color-light-grey;
    }
  }
}