.site-header{
	background: $color-white;
	font-size: $font-base;
	color: $color-title;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 9000;
	&--logo{
		max-height: 40px;
	}
	&--main-nav{
		@include horizontal-centered();
		@include media-breakpoint-down(md){			  
			    width: 70%;
			    height: calc(100vh - 70px);
			    background: $color-white;
			    position: absolute;
			    right: -20px;
			    top: 70px;
			    overflow: auto;
			    flex-direction: column;
			    padding: 20px;
			    justify-content: flex-start;
			    right: -100%;
			    transition: all 380ms linear;
			    &.active{
			    	 right: -20px;
			    }
			}
			.horizontal-nav{
				@include media-breakpoint-down(md){
			    flex-direction: column;
			     
			  }
			  &--item{
			  		&--link{
						@include media-breakpoint-down(md){
		    				padding: 20px;
		    				display: block;
		    				border-bottom: 1px solid $color-border-light;
		    				border-radius: 0;
		    				.active{
		    					border-radius: 0;
		    				}
			    		}
		    		}
		    		&:last-child{
		    			.horizontal-nav--item--link{
		    				border-bottom: 0;
		    			}
		    			
    				}    	
			    }
		}
	}
	.nav-icon{
		display: block;
		@include media-breakpoint-up(lg){
			display: none;
		}
	}
}