@mixin main-background(){
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad4a8b+0,39028d+56 */
background: #ad4a8b; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #ad4a8b 0%, #39028d 46%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #ad4a8b 0%,#39028d 46%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at 80% 20%, #ad4a8b 0%,#39028d 46%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad4a8b', endColorstr='#39028d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin btn-background(){
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad4a8b+0,39028d+50 */
background: #ad4a8b; /* Old browsers */
background: -moz-linear-gradient(right, #ad4a8b 0%, #39028d 50%); /* FF3.6-15 */
background: -webkit-linear-gradient(right, #ad4a8b 0%,#39028d 50%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to left, #ad4a8b 0%,#39028d 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad4a8b', endColorstr='#39028d',GradientType=1 ); /* IE6-9 */
}

@mixin horizontal-centered(){
	display: flex;
	justify-content: center;
}
@mixin vertical-centered(){
	display: flex;
	align-items: center;
}
@mixin linkstate(){
	&:hover,&:active, &:visited,&.active{
		@content;
	}
}