// colors 
$color-dark-text: #0a1d3b;
$color-white: #fff;
$color-title: #39028d;
$color-reg-text: #9197b4;
$color-indigo: #3a038d;
$color-purple: #84318c;

$color-light-grey: #e7e8fc;
$color-border-light: #b4b6c8;

//btn
$large-btn-font-size: 24px;

//fonts
$font-base: 16px;
$font-reg: 14px;
$font-medium: 20px;