.xbn-tokens{
	&--exchange-rate-section{
		display: flex;
		align-items: center;
		margin-top: 30px;
		&__img{
			max-width: 100%;
		}
		&__title{
			font-size: 20px;
			color: $color-purple;
			font-weight: bold;
		}
	}
	&--tokens{
		padding: 30px;
		background: $color-white;
		box-shadow: 0 0 20px 10px $color-light-grey;
		margin: 50px 0;

		&--rate{
			display: flex;

			&--content{
				display: flex;
				align-item: center;
				width: 50%;
				img{
					max-width: 80px;
					max-height: 80px;
					margin-right: 20px;					
				}
				.currency{
					font-size: 18px;
					align-self: center;					
					border: 1px solid $color-light-grey;
					padding: 15px 15px;
					background: $color-white;
					box-shadow: 3px 3px 3px 1px $color-light-grey;
					display: flex;
					justify-content: space-between;
					width: 100%;
					color: $color-reg-text;
					span{
						font-size: 20px;
						color: $color-purple;
						font-weight: bold;
					}
										
				}			
			}
			.arrow-container{
				width: 24px;
				display: flex;
				justify-content: center;
				margin: 0 40px;
				img{
					max-width: 100%;
					align-self: center;
				}

			}
		}
	}
	&--details{
		display: flex;
		flex-direction: column;
		align-items: center;
		background: url('../../images/bg-left.png') no-repeat  100%;
		background-position: center bottom;
		padding: 2em 0;
		&--title{
			font-size: 50px;
			width: 100%;
			font-weight: bold;
			text-align: center;
			margin-top: 50px;
			color: $color-purple;

			.para{
				font-size: 14px;
				color: $color-reg-text;
				font-weight: normal;
				margin-top: 10px;
			}
		}
		&--sub-title{
			font-size: 26px;
			width: 70%;
			text-align: center;
			color: $color-reg-text;
			margin-top: 50px;
			line-height: 1.5;

		}
	}	
}