
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XBN | Website Template</title>
    <link rel="icon" href="images/iconlogo.png">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans:300,400,600,700,800|Raleway:200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/navbar_styleSheet.css">
    <link rel="stylesheet" type="text/css" href="fonts/font/flaticon.css">
    <link rel="stylesheet" href="css/venobox.css">

    <link rel="stylesheet" href="css/animation.css">
    {{!-- <link rel="stylesheet" href="css/reset.css"> --}}
    <link rel="stylesheet" href="css/custom.css">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">



    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
</head>
<body>
	<!-- preloader start  -->
    <div id="spinners">
        <div id="preloader_1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- preloader end  -->
{{> navPartial page=page user=user.local}}

{{{body}}}
<section id="team_part" style="background: url(images/team/team.jpg) center center / cover no-repeat;">
        <div class="container">
            <div class="row">
                <div class="shap_list">
                <div class="upper_part">
                    <h4>Our Team</h4>
                </div>
                    <div class="col-sm-6">
                        <div class="shap">
                            <div class="image1">
                                <img style="border-radius: 50%;" src="images/team/01.jpeg" class="img-responsive" alt="shap">
                            </div>
                            {{!-- <div class="image1">
                                <img style="border-radius: 50%;" src="images/team/02.jpeg" class="img-responsive" alt="shap">
                            </div> --}}
                            {{!-- <div class="image1">
                                <img style="border-radius: 50%;" src="images/team/03.jpeg" class="img-responsive" alt="shap">
                            </div> --}}
                            <div class="image1">
                                <img style="border-radius: 50%;" src="images/team/04.jpeg" class="img-responsive" alt="shap">
                            </div>
                            <div class="image1">
                                <img style="border-radius: 50%;" src="images/team/05.jpeg" class="img-responsive" alt="shap">
                            </div>
                            <div class="image1">
                                <img style="border-radius: 50%;" src="images/team/06.jpeg" class="img-responsive" alt="shap">
                            </div>
                            <div class="image1">
                                <img style="border-radius: 50%;" src="images/team/07.jpeg" class="img-responsive" alt="shap">
                            </div>

                            <div class="image1">
                                <img style="border-radius: 50%;" src="images/team/08.jpeg" class="img-responsive" alt="shap">
                            </div>
                            <div class="image1">
                                <img style="border-radius: 50%;" src="images/team/09.jpeg" class="img-responsive" alt="shap">
                            </div>
                            <div class="image1">
                                <img style="border-radius: 50%;" src="images/team/10.jpeg" class="img-responsive" alt="shap">
                            </div>
                            <div class="image1">
                                <img style="border-radius: 50%;" src="images/team/11.jpeg" class="img-responsive" alt="shap">
                            </div>
                            <div class="image1">
                                <img  style="border-radius: 50%;" src="images/team/12.jpeg" class="img-responsive" alt="shap">
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="shap_info">
                            <div class="shap_info_text">
                                <h4>Peter Harris</h4>
                                <p>Chief Exective Officer & Architect</p>
                                <p>With over 30 years experience in the construction industry, 
                                    Peter will normally say “I was born a builder but taught to be an architect”. 
                                    As he was born into a family of builders, at an early age he developed great interest for designing and building new infrastructure. 
                                    This led him to study architect at university. After his studies, he was offered an opportunity to work for his family lucrative construction company. With this privilege, he has had several opportunities to work internationally across Asia, US and Europe. 
                                    </p>
                                    <p>Peter was also one of the early smart investors in bitcoin and Ethereum.</p>
                            
                            </div>



                            {{!-- <div class="shap_info_text">
                                <h4>Sylvia Whitfield</h4>
                                <p>Chief financial officer</p> --}}
                            {{!-- </div> --}}


                            {{!-- <div class="shap_info_text">
                                <h4>Bharat Ajmal</h4>
                                <p>Network Advisor</p> --}}
                            {{!-- </div> --}}

                            <div class="shap_info_text">
                                <h4>Amanda Herne</h4>
                                <p>Head of Marketing and Promotion</p>
                                <p>Amanda has had a great career in marketing and promotion since 2006. She has had the opportunity for work for some well-known marketing agencies such SOE marketing company and Digital Agency Network. Amanda is a young lady with great work ethics and approachable person, who has settled into the team very well.
</p>  <p>When she is not at work she loves to swim and play hockey.</p>
                            </div>


                            <div class="shap_info_text">
                                <h4>Tracey Walton</h4>
                                <p>Product Advisor</p>
                                <p>For young lady like Tracey, her achievements in starting up a few products managing companies is commendable. She has had several opportunities in leading people with less knowledge about software products to become a reputable team in order to build a highly reliable products which are user friendly. She has previously worked for international company such as Tigo and MTN. Tracey has a good sense of vision outline and product strategy.</p>
                                
                            </div>

                            <div class="shap_info_text">
                                <h4>Claire Hunt</h4>
                                <p>Chief Financial Officer</p>
                                <p>Claire has eleven years of experience in product research, innovation and strategy with the end user as her top priority. Claire has worked with a few noticeable international companies such as Nestle and Milo.</p>
                            </div>

                            <div class="shap_info_text">
                                <h4>Mark Angus</h4>
                                <p>Legal Advisor</p>
                                <p>Mark is a partner at Digital Advisory legal team. Before he became a partner at this firm, he used to work as a solicitor for Mann’s and CO legal firm, who deals with gaming and gambling advise. He also volunteered in Africa, for one of the old gaming company’s called Chances.</p>
                            </div>

                            <div class="shap_info_text">
                                <h4>Ali Raza</h4>
                                <p>Blockchain engineer</p>
                                <p>Ali is one of our blockchain engineer who is down to earth but extremely talented. He has worked with Samsung for nearly 5 years before starting his own engineering and technology company for the last 3 years but currently working for Build Network.</p>
                            </div>

                            <div class="shap_info_text">
                                <h4>Louisa Mino</h4>
                                <p>Product designer</p>
                                <p>Over the last eight years, Louisa has worked for company’s such as T-mobile and Virgin media. She has worked alongside other experts who has worked for Samsung, Apple and HTC. During this time Louisa has acquired a vast experience in designing digital product with the end user in mind. The little time she has spend with our team, she has proven to be a tenacious individual who has full understanding of product design. </p>
                            </div>

                            <div class="shap_info_text">
                                <h4>Fred Umana</h4>
                                <p>Front end developer</p>
                                <p>Fred has been part of our team since the initial idea. He previously worked as backend developer for Build Network but has recently been promoted due to his hard working and determination. He has also proven to be highly efficient and proficient software engineer. Fred used to work for Vodafone for nearly 11 years before resigning two years ago to join our team.</p>
                            </div>

                            <div class="shap_info_text">
                                <h4>William Winning</h4>
                                <p>Network Advisor</p>
                                <p>Will is the newest member of our team, but he has already been creating waves in our team. His creativity skills and knowledge about software developing and engineering as a young man, is a talent wealth nurturing and mentoring. He is always willing to learn new skills and has a great sense of team spirit. </p>
                                <p>Will did his first degree in graphic design, then went on to study software engineering as his second degree.</p>
                            </div>

                            <div class="shap_info_text">
                                <h4>Liam Spencer</h4>
                                <p>Financial advisor</p>
                                <p>Liam has over nine years of experience in equity and EFTs. He has worked with some of the reputable institutions on Wall street, New York. He studied accounting and business at a degree level.</p>
                            </div>




                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- footer part start -->
    <a href="#" class="back-top-btn"><span class="fa fa-arrow-up"></span></a>
    <footer id="footer_part">
        <div class="container">
            <div class="row">
                <div class="newsletter">
                    <div class="col-md-4">
                        <i class="fa fa-paper-plane"></i>
                        <span>Newsletter</span>
                        <p>The latest from XBN, Write your inbox</p>
                    </div>
                    <form class="form-group form_margin">
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="col-md-4 col-sm-6 mail">
                            <input type="text" class="form-control" placeholder="Your Mail">
                            <button type="submit" class="btn btn-default sub-btn"><i class="fa fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
                <div class="footer">
                    <div class="col-md-3 col-sm-6">
                        <div class="contact_part">
                            <h5>Contact us</h5>
                            {{!-- <p><i class="fa fa-map-marker"><span>1234, Park Street Avenue,Newyork</span></i></p> --}}
                            {{!-- <p><i class="fa fa-phone" aria-hidden="true"><span><a href="tel:+880 1234 56789">+880 1234 56789</a>, <a href="tel:+880 9876 54321">+880 9876 54321</a></span></i></p> --}}
                            <p><i class="fa fa-envelope"><span><a href="mailto:support@buildnetwork.org">support@buildnetwork.org</a></span></i></p>
                            <p><i class="fa fa-globe"><span><a href="http://buildnetwork.org">buildnetwork.org</a></span></i></p>
                            {{!-- <p><i class="fa fa-telegram"><span><a href="http://buildnetwork.org">buildnetwork.org</a></span></i></p> --}}
                            {{!-- <p><i class="fa fa-fax"><span><a href="tel:+880123456789">+880 1234 56789</a>, <a href="tel:+880987654321">+880 9876 54321</a></span></i></p> --}}
                        </div>
                    </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="twitter-part">
                            <h5>INFORMATION</h5>
                             <ul>
                                <li><a href="/white-paper">Whitepaper</a></li>
                                <li><a href="/road-map">Roadmap</a></li>
                                <a href="/faqs">FAQs</a>
                            </ul>
                            
                        </div>
                    </div>
                    {{!-- <div class="col-md-3 col-sm-6">
                        <div class="twitter-part">
                            <h5>Twetter Feed</h5>
                            <div class="tweet1">
                                <div class="t-icon">
                                    <i class="fa fa-twitter"></i>
                                </div>
                                <div class="t-details">
                                    <span>We want to introduce you to a new crypto currency XBN.</span>
                                    <p> 24 July 2017.</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="tweet1">
                                <div class="t-icon">
                                    <i class="fa fa-twitter"></i>
                                </div>
                                <div class="t-details">
                                    <span>We want to introduce you to a new crypto currency XBN.</span>
                                    <p> 24 July 2017.</p>
                                </div>
                            </div>
                        </div>
                    </div> --}}

                    {{!-- <div class="col-md-3 col-sm-6">
                        <div class="opening">
                            <h5>Opening hours</h5>
                            <div class="day">
                                <p>Mon-Fri<span>: 08.00 A.M - 10.00 P.M</span></p>
                                <p>Saturday<span>: 08.00 A.M - 02.00 P.M</span></p>
                                <p>Sunday<span>: Closed</span></p>
                                <p>Holidays<span>: Closed</span></p>
                                <p>Half-Holidays<span>: 08.00 A.M - 02.00 P.M</span></p>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer part end -->

    <!-- Footer-bottom -->
    <section id="footer-btm">
        <div class="container">
            <div class="row">
            <div class="col-md-8">
                <div class="footer-btm text-left">
                    <ul class="nav navbar-nav navbar-right footer-nav">
                    <li><a href="/terms-of-services">Terms of Service</a></li>
                    <li><a href="/privacypolicy">Privacy Policy</a></li> 
                </ul>
                    <p>Copyright &copy; XBN 2018. All Rights Reserved.</p>
                </div>
            </div>
            <div class="col-md-4">
            <div class="social">
                {{!-- <a href="https://www.facebook.com/Build-Network-2125228124431613/?modal=admin_todo_tour"><span class="fa fa-facebook"></span></a> --}}
                <a href="https://t.me/xbncommunity"><span class="fa fa-twitter"></span></a>
                <a href="https://t.me/joinchat/Jr07TkZlLeZ_eAFNRJ2c1Q"><span class="fa fa-telegram"></span></a>
            </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/counterup.min.js"></script>
    <script src="js/venobox.min.js"></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib --> 
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="flash/flash-client.js"></script>




<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "content": {
    "message": "Build Network website uses cookies to ensure effectiveness and the smooth running\nof our site. By using our website, you are agreeing to use cookies.",
    "link": "MORE INFORMATION"
  },
  "theme": "edgeless"
})});
</script>
</body>
</html>