<!-- Banner area -->
    <section class="banner_area" style=" background: url(images/banner-bg.jpg) no-repeat fixed;" data-stellar-background-ratio="0.5">
        <h2>Contractors</h2>
        {{!-- <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/contractors" class="active">Contractors</a></li>
        </ol> --}}
    </section>
    <!-- End Banner area -->

<section id="content">
<div id="wrapper">
    <div class="container">
        <div class=" col-md-2 img-area">
           <img style="width:400px" src="images/Simpleicons_Interface_lock-symbol.svg.png" alt="placeholder+image">
           {{!-- <h3 style="color:#ffc000;"> Locked </h3>  --}}
           <h4 style="color:#f9f9f9;"> Locked </h4>
           <p><a href="/road-map">See Roadmap</a></p>
           </div>
           <div class=" col-md-10 textarea">
               <video width="560" height="420" controls>
<source src="movie.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
           </div>
    </div>
</div>
 </section>




