<!-- Banner area -->
    <section class="banner_area" style=" background: url(images/banner-bg.jpg) no-repeat fixed;" data-stellar-background-ratio="0.5">
        <h2>Frequent Asked Questions (FAQs)</h2>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/faqs" class="active">Faqs</a></li>
        </ol>
    </section>
    <!-- End Banner area -->


    <div class="container">
<br /> 
<br /> 
<div class="shap_info_text">
    <h4 style="text-align: left;font-weight: 300;">Do you need to raise funds through an ICO?</h4>
</div>
 <ul style="font-family: 'Open Sans', sans-serif;font-weight: 400;font-size: 16px;color: #f9f9f9;    text-align: left;">
<li>Although we have the backing of an existing lucrative business, it is important
for us to give the public the opportunity to take advantage of being part of a
first decentralized blockchain token that enable ordinary people to gain extra
income, as well as socially empowering their local communities to reduce
unemployment.</li>
</ul>

<div class="shap_info_text">
    <h4 style="text-align: left;font-weight: 300;">How do we generate the monthly dividend for our investors?</h4>
</div>
 <ul style="font-family: 'Open Sans', sans-serif;font-weight: 400;font-size: 16px;color: #f9f9f9;    text-align: left;">
<li>Majority of the proceeds will be invested into new building contracts that are
already secured by our backing businesses. 60% of the net profit generated
by each contract will be shared amount our investors.</li>
</ul>

<div class="shap_info_text">
    <h4 style="text-align: left;font-weight: 300;">What are your plans for Build Network token?</h4>
</div>
 <ul style="font-family: 'Open Sans', sans-serif;font-weight: 400;font-size: 16px;color: #f9f9f9;    text-align: left;">
<li>Our business model is built on sustainable business and being a construction
business, volatility of the cryptocurrency market does not affect how our profit
is generated. Looking at our roadmap, we have implemented several steps to
ensure longevity of Build Network.</li>
</ul>

<div class="shap_info_text">
    <h4 style="text-align: left;font-weight: 300;">Which countries or continents have your backing company secured
building contracts?</h4>
</div>
 <ul style="font-family: 'Open Sans', sans-serif;font-weight: 400;font-size: 16px;color: #f9f9f9;    text-align: left;">
<li>Over the last decade the majority of our building contracts have been mainly
in Asia and Europe, but we are already in process of securing major corporate
contracts in South Africa, Nigeria and UAE.</li>
</ul>

<div class="shap_info_text">
    <h4 style="text-align: left;font-weight: 300;">If this is a legit company, then why are your backing business
anonymous?</h4>
</div>
 <ul style="font-family: 'Open Sans', sans-serif;font-weight: 400;font-size: 16px;color: #f9f9f9;    text-align: left;">
<li>We are very proud of our company achievements and we would love to show
the degree of success to our investors and the public; and although, Build
Network is a legitimate and a brilliant way to raise money for our investors. I
believe we will all agree, that the laws surrounding cryptocurrency and ICO
are undergoing a thorough review around the world. Therefore, our team
believe some level of anonymity is essential.</li>
</ul>



    </div>






{{!-- <div class="banner-section inner-page-banner">
	<h2 class="banner-section--content--title">
		FAQ
	</h2>		
</div>

<div class="container">
	<div class="xbn-faq" id="accordion">
	    <div class="xbn-faq--header">General questions</div>
	    <div class="xbn-faq--card">	        
            <div class="xbn-faq--card--header">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefirst">Lorem Ipsum is simply dummy text of the printing?</a>
            </div>	       
	        <div id="collapsefirst" class="panel-collapse collapse in">
	            <div class="xbn-faq--card--body">
	                When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
	            </div>
	        </div>
	    </div>

	    <div class="xbn-faq--card">	        
            <div class="xbn-faq--card--header">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#second">Where does it come from?</a>
            </div>	       
	        <div id="second" class="panel-collapse collapse in">
	            <div class="xbn-faq--card--body">
	                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
	            </div>
	        </div>
	    </div>

	    <div class="xbn-faq--card">	        
            <div class="xbn-faq--card--header">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#third">Where can I get some?</a>
            </div>	       
	        <div id="third" class="panel-collapse collapse in">
	            <div class="xbn-faq--card--body">
	                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet
	            </div>
	        </div>
	    </div>
	    
		<div class="xbn-faq--header">Other Question regarding Loan</div>
	    <div class="xbn-faq--card">	        
            <div class="xbn-faq--card--header">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#fourth">Dummy text of the printing?</a>
            </div>	       
	        <div id="fourth" class="panel-collapse collapse in">
	            <div class="xbn-faq--card--body">
	                When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
	            </div>
	        </div>
	    </div>

	    <div class="xbn-faq--card">	        
            <div class="xbn-faq--card--header">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#fivth">Should it work for me?</a>
            </div>	       
	        <div id="fivth" class="panel-collapse collapse in">
	            <div class="xbn-faq--card--body">
	                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
	            </div>
	        </div>
	    </div>

	    <div class="xbn-faq--card">	        
            <div class="xbn-faq--card--header">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#sixth">Where Did i search?</a>
            </div>	       
	        <div id="sixth" class="panel-collapse collapse in">
	            <div class="xbn-faq--card--body">
	                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet
	            </div>
	        </div>
	    </div>
	     <div class="xbn-faq--card">	        
            <div class="xbn-faq--card--header">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#seventh">Lorem Ipsum is simply dummy text of the printing?</a>
            </div>	       
	        <div id="seventh" class="panel-collapse collapse in">
	            <div class="xbn-faq--card--body">
	                When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
	            </div>
	        </div>
	    </div>

	    <div class="xbn-faq--card">	        
            <div class="xbn-faq--card--header">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#eighth">Where does it come from?</a>
            </div>	       
	        <div id="eighth" class="panel-collapse collapse in">
	            <div class="xbn-faq--card--body">
	                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
	            </div>
	        </div>
	    </div>
		<div class="xbn-faq--header">Buy XBN</div>

		<div class="xbn-faq--card">	        
            <div class="xbn-faq--card--header">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#ninth">Best place to buy xbn?</a>
            </div>	       
	        <div id="ninth" class="panel-collapse collapse in">
	            <div class="xbn-faq--card--body">
	                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet
	            </div>
	        </div>
	    </div>
	     <div class="xbn-faq--card">	        
            <div class="xbn-faq--card--header">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#tenth">How can i exchange xbn?</a>
            </div>	       
	        <div id="tenth" class="panel-collapse collapse in">
	            <div class="xbn-faq--card--body">
	                When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
	            </div>
	        </div>
	    </div>




	</div>
</div> --}}