
<div class="banner-section inner-page-banner">
	<h2 class="banner-section--content--title">
		Loans
	</h2>		
</div>
<div class="container">

	<div class="road-map">
		
		<div class="row">
			<div class="col-12 road-map--container">
				<h3 class="road-map--title">
					Comming Soon.
				</h3>
				<p class="road-map--details">
					<a class="xbn-btn normal" href="/">Home Page</a>
				</p>
			</div>

		</div>

	</div>


</div>



