<!-- Banner area -->
    <section class="banner_area" style=" background: url(images/banner-bg.jpg) no-repeat fixed;" data-stellar-background-ratio="0.5">
        <h2>Loans</h2>
        {{!-- <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/loans" class="active">Loans</a></li>
        </ol> --}}
    </section>
    <!-- End Banner area -->

<section id="content">
<div id="wrapper">
    <div class="container">

           <div class="col-md-2">
           <img style="" src="images/coins/ethereum-classic.png">
           <p>Ethereum</p>
           </div>
           
           <div class="col-md-2">
           <img style="" src="images/coins/bitcoin.png">
           <p>Bitcoin</p>
           </div>

           <div class="col-md-2">
           <img style="" src="images/coins/ripple.png">
           <p>Ripple</p>
           </div>

           <div class="col-md-2">
           <img style="" src="images/coins/usdt.png">
           <p>USDT</p>
           </div>

           <div class="col-md-2">
           <img style="" src="images/coins/zcash.png">
           <p>ZCash</p>
           </div>

           <div class="col-md-2">
           <img style="" src="images/coins/litecoin.png">
           <p>Litecoin</p>
           </div>

           <div class="col-md-2">
           <img style="" src="images/coins/bitcoin.png">
           <p>Bitcoin Cash</p>
           </div>

           <div class="col-md-2">
           <img style="" src="images/coins/cardano.png">
           <p>Cardano</p>
           </div>

           <div class="col-md-2">
           <img style="" src="images/coins/dash.png">
           <p>Dash</p>
           </div>

           <div class="col-md-2">
           <img style="" src="images/coins/monero.png">
           <p>Monero</p>
           </div>

           <div class="col-md-2">
           <img style="" src="images/coins/nem.png">
           <p>NEM</p>
           </div>

           <div class="col-md-2">
           <img style="" src="images/coins/neo.png">
           <p>NEO</p>
           </div>

           <div class="col-md-2">
           <img style="" src="images/coins/hshare.png">
           <p>HShare</p>
           </div>

           <div class="col-md-2">
           <img style="" src="images/coins/omisego.png">
           <p>Omisego</p>
           </div>

           <div class="col-md-2">
           <img style="" src="images/coins/qtum.png">
           <p>qtum</p>
           </div>

            <div class="col-md-2">
           <img style="" src="images/coins/iota.png">
           <p>iota</p>
           </div>

           

           

          

           

           

    </div>
</div>
 </section>




