<!-- Banner area -->
    <section class="banner_area" style=" background: url(images/banner-bg.jpg) no-repeat fixed;" data-stellar-background-ratio="0.5">
        <h2>WHITE PAPER</h2>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/loans" class="active">Loans</a></li>
        </ol>
    </section>
    <!-- End Banner area -->

<section id="content">
<div id="wrapper">
    <div class="container">
           <img style="width:400px" src="images/Simpleicons_Interface_lock-symbol.svg.png" alt="placeholder+image">
           {{!-- <h3 style="color:#ffc000;"> Locked </h3>  --}}
           <h4 style="color:#f9f9f9;"> Locked </h4>
    </div>
</div>
 </section>




