  
<!-- Banner area -->
    <section class="banner_area" style=" background: url(images/banner-bg.jpg) no-repeat fixed;" data-stellar-background-ratio="0.5">
        <h2>PRIVACY POLICY</h2>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/privacypolicy" class="active">Privacy Policy</a></li>
        </ol>
    </section>
    <!-- End Banner area -->

<section id="content">
<div id="wrapper">
    <div class="container">
    <div class="upper_part">
 <h4>Privacy Policy</h4>
    </div>



 <ul style="font-family: 'Open Sans', sans-serif;font-weight: 400;font-size: 16px;color: #f9f9f9;    text-align: left;">
<li> In order to participate in the initial coin offering (ICO) stage and to become a member of the Build Network platform, your personal data must be provided before registration can be completed on our website.</li>
<li>  Build Network uses a third-party tool to conduct the checks of all our participants and members to adhere to government requirements. Therefore, you acknowledge that this information collected during the registration stage will be passed onto third-party provider to verify your identity. However, your personal information will be protected and treated according to the data protection law.</li>
<li>  Personal information provided by you, will be use to verify your identity as a Build Network token holder.</li>
<li>  Entering your personal information during the registration stage confirm you have agreed to enter the correct information and therefore will bear any responsibility in connection with wrong or invalid data.</li>

</ul>

</div>







    </div>
</div>
 </section>
