
<div class="banner-section inner-page-banner">
	<h2 class="banner-section--content--title">
		Road Map
	</h2>		
</div>
<div class="container">
	<h2 class="section-title d-flex justify-content-center">
			2017
	</h2>
	<div class="road-map">
		<div class="verticle-line"></div>
		<div class="row">
			<div class="col-5 left-side road-map--container">
				<h3 class="road-map--title">
					XBN REleases Ground Breaking GPS Tracking Device
				</h3>
				<p class="road-map--details">
					XBN launches the world’s first hybrid GPS and Bluetooth technology enabled device. The XYGPS is able to report its location anywhere in the world where Cellular and GPS data is available.
				</p>
			</div>
			<div class="col-2 icon-container d-flex justify-content-center">
				<div class="hexagon">
					<img src="assets/images/xbn-roadmap.svg" alt="">
				</div>
			</div>
			<div class="col-5 right-side">
				
			</div>
		</div>
		<div class="row">
			<div class="col-5 left-side ">
				
			</div>
			<div class="col-2 icon-container d-flex justify-content-center">
				<div class="hexagon">
					<img src="assets/images/xbn-roadmap.svg" alt="">
				</div>
			</div>
			<div class="col-5 right-side road-map--container">
				<h3 class="road-map--title">
					XBN REleases Ground Breaking GPS Tracking Device
				</h3>
				<p class="road-map--details">
					XBN launches the world’s first hybrid GPS and Bluetooth technology enabled device. The XYGPS is able to report its location anywhere in the world where Cellular and GPS data is available.
				</p>
			</div>
		</div>
	</div>


</div>

<div class="container">
	<h2 class="section-title d-flex justify-content-center">
			2018
	</h2>
	<div class="road-map">
		<div class="verticle-line"></div>
		<div class="row">
			<div class="col-5 left-side road-map--container">
				<h3 class="road-map--title">
					XBN REleases Ground Breaking GPS Tracking Device
				</h3>
				<p class="road-map--details">
					XBN launches the world’s first hybrid GPS and Bluetooth technology enabled device. The XYGPS is able to report its location anywhere in the world where Cellular and GPS data is available.
				</p>
			</div>
			<div class="col-2 icon-container d-flex justify-content-center">
				<div class="hexagon">
					<img src="assets/images/xbn-roadmap.svg" alt="">
				</div>
			</div>
			<div class="col-5 right-side">
				
			</div>
		</div>
		<div class="row">
			<div class="col-5 left-side ">
				
			</div>
			<div class="col-2 icon-container d-flex justify-content-center">
				<div class="hexagon">
					<img src="assets/images/xbn-roadmap.svg" alt="">
				</div>
			</div>
			<div class="col-5 right-side road-map--container">
				<h3 class="road-map--title">
					XBN REleases Ground Breaking GPS Tracking Device
				</h3>
				<p class="road-map--details">
					XBN launches the world’s first hybrid GPS and Bluetooth technology enabled device. The XYGPS is able to report its location anywhere in the world where Cellular and GPS data is available.
				</p>
			</div>
		</div>
	</div>


</div>

<div class="container">
	<h2 class="section-title d-flex justify-content-center">
			Meet Our Team
		</h2>
	<div class="d-flex w-100 justify-content-center">
		
		<div class="col-xl-4 col-lg-4 col-md-4 col-6">
			<div class="xbn-card">
				<div class="xbn-card--img rounded-img">
					<img src="assets/images/team-1.png" alt="">
				</div>
				<div class="xbn-card--body">
					<h3 class="xbn-card--body--title">
						Team Name Here
					</h3>
					<p class="xbn-card--body--text">
						Some details about team member goes here and some social media links as well.
					</p>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-6">
			<div class="xbn-card">
				<div class="xbn-card--img rounded-img">
					<img src="assets/images/team-2.png" alt="">
				</div>
				<div class="xbn-card--body">
					<h3 class="xbn-card--body--title">
						Team Name Here
					</h3>
					<p class="xbn-card--body--text">
						Some details about team member goes here and some social media links as well.
					</p>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-6">
			<div class="xbn-card">
				<div class="xbn-card--img rounded-img">
					<img src="assets/images/team-3.png" alt="">
				</div>
				<div class="xbn-card--body">
					<h3 class="xbn-card--body--title">
						Team Name Here
					</h3>
					<p class="xbn-card--body--text">
						Some details about team member goes here and some social media links as well.
					</p>
				</div>
			</div>
		</div>
	</div>
	
</div>
