<!-- Banner area -->
    <section class="banner_area" style=" background: url(images/banner-bg.jpg) no-repeat fixed;" data-stellar-background-ratio="0.5">
        <h2>ROADMAP</h2>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/road-map" class="active">RoadMap</a></li>
        </ol>
    </section>
    <!-- End Banner area -->

<section class="cd-timeline js-cd-timeline">
<div class="cd-timeline__container">
<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Picture">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>Title of section 1</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
<a href="#0" class="cd-timeline__read-more">Read more</a>
<span class="cd-timeline__date">2016</span>
</div> 
</div> 
<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
<img src="images/svg/cd-icon-movie.svg" alt="Movie">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>Title of section 2</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
<a href="#0" class="cd-timeline__read-more">Read more</a>
<span class="cd-timeline__date">2017</span>
</div> 
</div> 
<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Picture">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>Title of section 3</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
<a href="#0" class="cd-timeline__read-more">Read more</a>
<span class="cd-timeline__date">2018</span>
</div> 
</div> 
</div>
</section> 