<!-- Banner area -->
    <section class="banner_area" style=" background: url(images/banner-bg.jpg) no-repeat fixed;" data-stellar-background-ratio="0.5">
        <h2>ROADMAP</h2>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/road-map" class="active">Roadmap</a></li>
        </ol>
    </section>
    <!-- End Banner area -->

<section class="cd-timeline js-cd-timeline">
<div class="cd-timeline__container">
<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
<img src="images/svg/logo.svg" alt="Picture">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>September 2016</h2>
<p>XBN concept developed</p>
{{!-- <a href="#0" class="cd-timeline__read-more">Read more</a> --}}
{{!-- <span class="cd-timeline__date">September 2016</span> --}}
</div> 
</div> 
<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Movie">
</div> 
<div class="cd-timeline__content js-cd-content road-map-right">
<h2>Advisory team formed</h2>
<p>March 2017</p>
{{!-- <a href="#0" class="cd-timeline__read-more">Read more</a> --}}
{{!-- <span class="cd-timeline__date">March 2017</span> --}}
</div> 
</div> 
<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Picture">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>Blockchain implementation commenced</h2>
{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
<a href="#0" class="cd-timeline__read-more">Read more</a> --}}
<span class="cd-timeline__date">November 2017</span>
</div> 
</div> 




<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Picture">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>February 2018</h2>
{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
<a href="#0" class="cd-timeline__read-more">Read more</a> --}}
<span class="cd-timeline__date">Whitepaper completed</span>
</div> 
</div> 
<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Movie">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>Token Sale Schedule</h2>
{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
<a href="#0" class="cd-timeline__read-more">Read more</a> --}}
<span class="cd-timeline__date">August 2018</span>
</div> 
</div> 
<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Picture">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>Incentive payout starts</h2>
{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
<a href="#0" class="cd-timeline__read-more">Read more</a> --}}
<span class="cd-timeline__date">Q4 2018</span>
</div> 
</div> 

<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Picture">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>Worldwide marketing campaign</h2>
{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
<a href="#0" class="cd-timeline__read-more">Read more</a> --}}
<span class="cd-timeline__date">Q4 2018</span>
</div> 
</div> 
<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Movie">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>First building contract begins</h2>
{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
<a href="#0" class="cd-timeline__read-more">Read more</a> --}}
<span class="cd-timeline__date">Q1 2019</span>
</div> 
</div> 
<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Picture">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>External exchange</h2>
{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
<a href="#0" class="cd-timeline__read-more">Read more</a> --}}
<span class="cd-timeline__date">Q1 2019</span>
</div> 
</div> 

<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Picture">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>Worldwide marketing campaign</h2>
{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
<a href="#0" class="cd-timeline__read-more">Read more</a> --}}
<span class="cd-timeline__date">Q1 2019</span>
</div> 
</div> 
<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Movie">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>Subcontractors/contractors details uploaded on platform</h2>
{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
<a href="#0" class="cd-timeline__read-more">Read more</a> --}}
<span class="cd-timeline__date">Q2 2019</span>
</div> 
</div> 
<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Picture">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>First dividend payout commences</h2>
{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
<a href="#0" class="cd-timeline__read-more">Read more</a> --}}
<span class="cd-timeline__date">Q3 2019</span>
</div> 
</div> 


<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Picture">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>Partnership with other major construction companies</h2>
{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
<a href="#0" class="cd-timeline__read-more">Read more</a> --}}
<span class="cd-timeline__date">Q3 2019</span>
</div> 
</div> 
<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Movie">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2></h2>
{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
<a href="#0" class="cd-timeline__read-more">Read more</a> --}}
<span class="cd-timeline__date">Q4 2019</span>
</div> 
</div> 
<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Picture">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>Global campaign commences</h2>
{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
<a href="#0" class="cd-timeline__read-more">Read more</a> --}}
<span class="cd-timeline__date">2020+</span>
</div> 
</div> 


<div class="cd-timeline__block js-cd-block">
<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
<img src="images/svg/cd-icon-picture.svg" alt="Picture">
</div> 
<div class="cd-timeline__content js-cd-content">
<h2>Expanding our building contracts territories into Africa and UAE</h2>
{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
<a href="#0" class="cd-timeline__read-more">Read more</a> --}}
<span class="cd-timeline__date">2020+</span>
</div> 
</div> 




</div>
</section> 