<!-- Banner area -->
    <section class="banner_area" style=" background: url(images/banner-bg.jpg) no-repeat fixed;" data-stellar-background-ratio="0.5">
        <h2>TERMS OF SERVICES</h2>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/terms-of-services" class="active">Terms Of Services</a></li>
        </ol>
    </section>
    <!-- End Banner area -->


<section id="content">
<div id="wrapper">
    <div class="container">
    <div class="upper_part">
 <h4>TERMS OF SERVICES</h4>
    </div>


<div class="shap_info_text">
    <h4 style="text-align: left;font-weight: 300;">Acceptance of Agreement</h4>
</div>
 <ul style="font-family: 'Open Sans', sans-serif;font-weight: 400;font-size: 16px;color: #f9f9f9;    text-align: left;">
<li>•   This Agreement comes into effect as soon as someone becomes a member on our website through registration.</li>
<li>•   Use of our website/or services is limited to individuals or parties who are over eighteen years or over and can legally enter into and form contracts under applicable law.</li>
<li>•   The terms and conditions on our website is a legal binding agreement between you and the company, therefore please take your time to read these terms and conditions carefully.</li>
<li>•   Build Network reserves the right to make changes to these terms and conditions at any time without notice. These changes will be effective as soon as revised Agreement is uploaded or posted on our site and the member of the website have the sole responsibility to review any information or notice that correspond to changes to the Agreement.</li>
{{!-- <li>•   The company shall have the right to change or remove the website at any time without giving the reasons to such changes or removal.</li> --}}
</ul>


<div class="shap_info_text">
    <h4 style="text-align: left;font-weight: 300;">Your Responsibilities</h4>
</div>

 <ul style="font-family: 'Open Sans', sans-serif;font-weight: 400;font-size: 16px;color: #f9f9f9;    text-align: left;">
<li>•   All requirements set forth in the website must be met before participating in our services.</li>
<li>•   Build Network reserves the right to refuse selling XBN tokens to anyone who does not meet the requirement stated above in this Agreement, website and applicable law.</li>
<li>•   It is the individual or party responsibility to understand and acknowledge that purchasing any cryptocurrencies and tokens involve risk, due to volatility of the cryptocurrency market. Therefore, the value of assets can either increase or decrease at any given time.</li>
</ul>


<div class="shap_info_text">
    <h4 style="text-align: left;font-weight: 300;">Links to other Websites</h4>
</div>

<ul style="font-family: 'Open Sans', sans-serif;font-weight: 400;font-size: 16px;color: #f9f9f9;    text-align: left;">
<li>•   From time to time Build Network may provide links for other websites in order to help our members. However, Build Network do not control or check the contents of these websites and therefore do not accept any responsibility or liability of any kind, for any information or communications on these websites.</li>
<li>•   Build Network is also not responsible for any other site that may be linked to the Build Network website.</li>
</ul>


<div class="shap_info_text">
    <h4 style="text-align: left;font-weight: 300;">No other Rights created</h4>
</div>

<ul style="font-family: 'Open Sans', sans-serif;font-weight: 400;font-size: 16px;color: #f9f9f9;    text-align: left;">
<li>•   Participating or becoming a member of our website does not guarantee you any ownership or other interest in Build Network as your participating in our service is not a loan to the company.</li>
<li>•   Build Network reserves all rights to, interests in and all properties including ideas, codes, concepts, processes, methods, techniques, information and inventions, whether or not they are patentable or protected in the trademark.</li>
<li>•   Without prior written consent to Build Network, no property of the company may be use.</li>
</ul>


<div class="shap_info_text">
    <h4 style="text-align: left;font-weight: 300;">Security</h4>
</div>

 <ul style="font-family: 'Open Sans', sans-serif;font-weight: 400;font-size: 16px;color: #f9f9f9;    text-align: left;">
<li>•   It is your responsibility to maintain the confidentiality of your account details such as username, password and access restriction of your device.</li>
<li>•   You may not attempt to violate the security on the Build Network platform, including by without limitations:
    <<ul>
        <li>o   Accessing information or account that is not intended for yourself.</li>
    <li>o   Attempting to interfere with services to our users</li>
    <li>o   Impersonating Build Network. That may be sending unsolicited or unauthorised email on behalf of Build Network which include marketing, advertising, promotion of any products or services. This may result in prosecution for any violation of these Terms.</li>
    </ul>




</ul>

</div>

    </div>
</div>
 </section>




