<!-- Banner area -->
    <section class="banner_area" style=" background: url(images/banner-bg.jpg) no-repeat fixed;" data-stellar-background-ratio="0.5">
        <h2>WHITE PAPER</h2>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/white-paper" class="active">White Paper</a></li>
        </ol>
    </section>
    <!-- End Banner area -->

<section id="content">
<div id="wrapper">
    <div class="container">
           <img src="images/white-papper.png" alt="placeholder+image">
           {{!-- <h3 style="color:#ffc000;"> The XBN Network White Paper outlines how the XBN Network works, the components & protocols involved and the cryptoeconomic incentives underlying the network. </h3>  --}}
           <h4 style="color:#f9f9f9;"> <a class="xbn-btn normal" href="/xbn-white-paper">Download Whitepaper</a> </h4>
    </div>

</div>
 </section>
