
<div class="banner-section inner-page-banner">
	<h2 class="banner-section--content--title">
		White Paper
	</h2>		
</div>
<div class="container">

	<div class="road-map">
		<div class="verticle-line"></div>
		<div class="row">
			<div class="col-5 left-side road-map--container">
				<h3 class="road-map--title">
					The XBN Network White Paper outlines how the XYO Network works, the components & protocols involved and the cryptoeconomic incentives underlying the network.
				</h3>
				<p class="road-map--details">
					<a class="xbn-btn normal" href="/xbn-white-paper">Download XBN White paper</a>
				</p>
			</div>

			<div class="col-5 right-side">
				
			</div>
		</div>
		<div class="row">
			<div class="col-5 left-side ">
				
			</div>
			<div class="col-2 icon-container d-flex justify-content-center">
				<div class="hexagon">
					<img src="assets/images/xbn-roadmap.svg" alt="">
				</div>
			</div>
			<div class="col-5 right-side road-map--container">
				<h3 class="road-map--title">
					XBN REleases Ground Breaking GPS Tracking Device
				</h3>
				<p class="road-map--details">
					XBN launches the world’s first hybrid GPS and Bluetooth technology enabled device. The XYGPS is able to report its location anywhere in the world where Cellular and GPS data is available.
				</p>
			</div>
		</div>
	</div>


</div>



