

{{!-- <div class="banner-section inner-page-banner">
	<h2 class="banner-section--content--title">
		GET XBN NOW!
	</h2>		
</div>

<div class="container">
	<div class="d-flex justify-content-center">
		<h2 class="section-title short-title d-flex justify-content-center">
			GET THE 'MOST EXCITING CRYPTOCURRENCY OF 2018' WHILE YOU STILL CAN
		</h2>
	</div>
	<div class="xbn-tokens--exchange-rate-section">
		<div class="col-md-6 col-12">
			<img class="xbn-tokens--exchange-rate-section__img" src="assets/images/exchange.png" alt="">
		</div>
		<div class="col-md-6 col-12">
			<h2 class="xbn-tokens--exchange-rate-section__title">
				Exchange Cryptocurrencies Rate
			</h2>
			<p class="section-detail">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
			</p>
			<a href="/get-xbn"><button class="xbn-btn">Purchase XBN Now!</button></a>
		</div>
	</div>
	<div class="xbn-tokens--tokens">
		<h2 class="section-title">
			Exchange Rate
		</h2>

		<div class="xbn-tokens--tokens--rate">
			<div class="xbn-tokens--tokens--rate--content">
				<img src="assets/images/eth-coin.svg" alt="">
				<div class="currency">1 <span>ETH</span></div>			
			</div>
			<div class="arrow-container">
				<img src="assets/images/arrows.png" alt="">
			</div>
			<div class="xbn-tokens--tokens--rate--content">
				<img src="assets/images/xbn-coin.svg" alt="">
				<div class="currency">66,660.66 <span>XBN</span></div>			
			</div>
		</div>
	</div>
	<div class="xbn-tokens--details">
		<h2 class="xbn-tokens--details--title">
			Get XBN Now
			<p class="para">Minimum purchase is 50 coins tokens. get a bonus from 5% to 25% on every token purchase</p>
		</h2>
		<h5 class="xbn-tokens--details--sub-title">
			*This is not a marketing tactic; the XBN Token Pool is a fixed token economy set by the demand of the XBN Token Main Sale, which concluded on May 20, 2018.
		</h5>
	</div>

	<div class="coming-features">
		<div class="coming-features--img">
			<img src="assets/images/first-icon.svg" alt="">
		</div>
		<div class="coming-features--content">
			<h3 class="coming-features--content__title">The XBN FHR Enables Geo dApp Airdrops!</h3>
			<p class="coming-features--content__details">
				The FHR contains a registry of all XBN Founding Holders Wallet Addresses, which are published on the blockchain to all future Geo dApps. This enables Geo dApp developers to Airdrop their Native Tokens directly to your wallet address! Geo dApp developers want to do this for a few reasons. One of which centers on the fact that it enables them to gain an amazing consumer-base (YOU) from the VERY BEGINNING of their Geo dApp's launch!
			</p>
		</div>
	</div>
	<div class="coming-features">
		<div class="coming-features--img">
			<img src="assets/images/second-icon.svg" alt="">
		</div>
		<div class="coming-features--content">
			<h3 class="coming-features--content__title">0% Maker Fees</h3>
			<p class="coming-features--content__details">
				The FHR contains a registry of all XBN Founding Holders Wallet Addresses, which are published on the blockchain to all future Geo dApps. This enables Geo dApp developers to Airdrop their Native Tokens directly to your wallet address! Geo dApp developers want to do this for a few reasons. One of which centers on the fact that it enables them to gain an amazing consumer-base (YOU) from the VERY BEGINNING of their Geo dApp's launch!
			</p>
		</div>
	</div>
	<div class="coming-features">
		<div class="coming-features--img">
			<img src="assets/images/third-icon.svg" alt="">
		</div>
		<div class="coming-features--content">
			<h3 class="coming-features--content__title">The Best Way To Join Our Community</h3>
			<p class="coming-features--content__details">
				The FHR contains a registry of all XBN Founding Holders Wallet Addresses, which are published on the blockchain to all future Geo dApps. This enables Geo dApp developers to Airdrop their Native Tokens directly to your wallet address! Geo dApp developers want to do this for a few reasons. One of which centers on the fact that it enables them to gain an amazing consumer-base (YOU) from the VERY BEGINNING of their Geo dApp's launch!
			</p>
		</div>
	</div>

	
</div>


<div class="container">
	<h2 class="section-title d-flex justify-content-center">
			Meet Our Team
	</h2>
	<div class="d-flex w-100 justify-content-center">
		
		<div class="col-xl-4 col-lg-4 col-md-4 col-6">
			<div class="xbn-card">
				<div class="xbn-card--img rounded-img">
					<img src="assets/images/team-1.png" alt="">
				</div>
				<div class="xbn-card--body">
					<h3 class="xbn-card--body--title">
						Team Name Here
					</h3>
					<p class="xbn-card--body--text">
						Some details about team member goes here and some social media links as well.
					</p>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-6">
			<div class="xbn-card">
				<div class="xbn-card--img rounded-img">
					<img src="assets/images/team-2.png" alt="">
				</div>
				<div class="xbn-card--body">
					<h3 class="xbn-card--body--title">
						Team Name Here
					</h3>
					<p class="xbn-card--body--text">
						Some details about team member goes here and some social media links as well.
					</p>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-6">
			<div class="xbn-card">
				<div class="xbn-card--img rounded-img">
					<img src="assets/images/team-3.png" alt="">
				</div>
				<div class="xbn-card--body">
					<h3 class="xbn-card--body--title">
						Team Name Here
					</h3>
					<p class="xbn-card--body--text">
						Some details about team member goes here and some social media links as well.
					</p>
				</div>
			</div>
		</div>
	</div>
	
</div> --}}