
<div class="banner-section inner-page-banner">
	<h2 class="banner-section--content--title">
		Members And Contractors
	</h2>		
</div>
<div class="container">

	<div class="road-map">
		
		<div class="row">
			<div class="col-12 road-map--container">
				<h3 class="road-map--title">
					Comming Soon!
				</h3>
			</div>

		</div>

	</div>


</div>




{{!-- <div class="container">
<form method="POST" action="/pay" class="xbn-signin text-center">      
      <!-- <h1 class="section-title">Please sign in</h1> -->
      <img class="xbn-signin--icon" src="assets/images/login-icon.png" alt="">
      <input type="text" name="amount" class="form-control xbn-signin--input" placeholder="amount" required="" autofocus="">
      
      <div class="checkbox mb-3">
        Your Coins: {{balance}}
      </div>
      <button class="xbn-btn normal" type="submit">Make Transaction</button>
     
    </form>
</div> --}}