
{{!-- <div class="banner-section inner-page-banner">
	<h2 class="banner-section--content--title">
		Purchase XBN Token
	</h2>		
</div>
<div class="container">

	<div class="road-map">
		
		<div class="row">
			<div class="col-12 road-map--container">
				<h3 class="road-map--title">
					We don't support transactions from website yet but you can do 
          transactions from etherscan.io. XBN ICO contract address is 
          0x7bfa11aa43833f8b980803bea180c54b82cacb2d and Token address is 
          0xae14aee06f8fd12adc5b191d2382110f27851c80
				</h3>
				<p class="road-map--details">
					<a class="xbn-btn normal" target="_blank" href="https://etherscan.io/address/0x7bfa11aa43833f8b980803bea180c54b82cacb2d">Go to contract page</a>
				</p>
        <p class="road-map--details">
					<a class="xbn-btn normal" target="_blank" href="https://etherscan.io/token/0xae14aee06f8fd12adc5b191d2382110f27851c80">XBN Token</a>
				</p>
			</div>

		</div>

	</div>


</div> --}}




<div class="container">
<form method="POST" action="/pay" class="xbn-signin text-center">      
      <!-- <h1 class="section-title">Please sign in</h1> -->
      <img class="xbn-signin--icon" src="assets/images/login-icon.png" alt="">
      <input type="text" name="account" value="{{account}}" class="form-control xbn-signin--input" placeholder="account address" required="" autofocus="">
      <input type="text" name="amount" class="form-control xbn-signin--input" placeholder="amount" required="" autofocus="">
      
      <button class="xbn-btn normal" type="submit">Make Transaction</button>
     
    </form>
</div>