	<script src="/libs/bundle.js"></script>

<!-- Banner area -->
    <section class="banner_area" style=" background: url(images/banner-bg.jpg) no-repeat fixed;" data-stellar-background-ratio="0.5">
        <h2>ENTER YOUR INFO</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#" class="active">ENTER YOUR INFO</a></li>
        </ol>
    </section>
    <!-- End Banner area -->

<section class="container" id="content">
<div id="wrapper">
    <div class="container">
    <div class="row">
        <img src="images/Reg.png" style="width:90px;height:90px;"  alt="placeholder+image">
        <h4 style="font-size: 26px;color: #feb814;"> ENTER YOUR INFO </h4>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
{{!-- <p class="alert alert-info" role="alert">This information is required for KYC ('Know Your Customer'), 
	and is used to check a third-party database to make sure you're not a terrorist and deter against illicit activity (and make governments happy).
If you need help, please contact us anytime with questions by emailing support@buildnetwork.org</p> --}}

<form method="POST" id='main_form' action="/sign-up">

    <div class="form-row" id="step1_div">
	    <div class="form-group">
	      <label for="inputEmail4">Email</label>
	      <input type="email" class="form-control" name="email" id="email" placeholder="Email">
	    </div>
	    <div class="form-group">
	      <label for="inputPassword4">Create Password</label>
	      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
	    </div>
			<div class="form-group">
	      <label for="inputPassword4">Confirm Password</label>
	      <input type="password" class="form-control" id="password_cfm" placeholder="confirm password">
	    </div>

			<div class="banner_text"> 
			<a href="/sign-in" id="step1" class="blank">Sign In</a>    
      <a href="#" id="step1_next_btn" class="blank">Next</a>
                        </div>
	  </div>

{{!-- start of step 2 --}}
<div id="step2_div" style="display: none">
		 <div class="form-row">
			 <div class="banner_text">    
      <a href="#" id="step2_back_btn" class="blank">Back</a>
                        </div>
<br />
<div class="alert alert-info" role="alert"><p>Know Your Customer (KYC) information is required as this ensures we adhere to government requirements.
If any assistance are needed please contact us anytime on our email support@buildnetwork.org
or by joining us on our social media pages: <a target="_blank" href="https://t.me/joinchat/Jr07TkZlLeZ_eAFNRJ2c1Q">telegram</a> or <a target="_blank" href="https://twitter.com/network_build">twitter</a>.</p></div>


	    <div class="form-group">
	      <label for="">First Name</label>
	      <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name">
	    </div>
	    <div class="form-group">
	      <label for="">Last Name</label>
	      <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name">
	    </div>
	  </div>
	  
		<div class="form-group">
                  <div class="radio">
                      <label>
                          <input class="form-check-input" checked type="radio" name="gender" id="inlineRadio1" value="male">
													Male
                      </label>
                      <label>
                          <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female">
													Female
                      </label>
                  </div>
               </div>
	  
	  <div class="form-group">
	    <label for="inputAddress">Address</label>
	    <input type="text" class="form-control" id="inputAddress" name="address1" placeholder="1234 Main St">
	  </div>
	  <div class="form-group">
	    <label for="inputAddress2">Address 2</label>
	    <input type="text" class="form-control" id="inputAddress2" name="address2" placeholder="Apartment, studio, or floor">
	  </div>
	  <div class="form-row">
	    <div class="form-group">
	      <label for="inputCity">City</label>
	      <input type="text" class="form-control" name="city" id="inputCity">
	    </div>
	    {{!-- <div class="form-group col-md-4">
	      <label for="inputState">State</label>
	      <select id="inputState" class="form-control">
	        <option selected>Choose...</option>
	        <option>...</option>
	      </select>
	    </div> --}}
	    <div class="form-group">
	      <label for="inputZip">Zip</label>
	      <input type="text" class="form-control" name="zip" id="inputZip">
	    </div>
	  </div>

<div class="form-group">
	    <label for="address">ETH Wallet Address</label>
	    <input type="text" class="form-control" id="address" name="address" placeholder="0x">
	  </div>
		  <div class="banner_text">
      <a href="#" id="step2_next_btn" class="blank">Next</a>
			</div>
</div>
{{!-- end of step 2 --}}

{{!-- start of step 3 --}}
<div id="step3_div" style="display: none">
<br />
<div class="banner_text">    
      <a href="#" id="step3_back_btn" class="blank">Back</a>
                        </div>
<div class="banner_text">    
      <a href="#" style="width: 285px" class="blank">Video From Youtube ERC-20</a>
</div>
<br />
<div class="alert alert-danger" role="alert"><p>
Please note: Do not use an Eth Wallet address from any exchange such as Bittrex, Binance, Coinbase or Coin Exchange,
as by doing so, you are likely to loose them.</p>
</div>
<div class="alert alert-info" style="text-align: left" role="alert">
<p>Do not enter an address or send thereum to the XBN smart contract from exchanges like above but rather first send the ethereum
to ERC-20 token supported wallet see below for recommended list.</p>
<p><b style="color:#feb814">Desktop computer</b></p>
<ul>
	<li>•   MyEtherWallet (no need to download)  (www.myetherwallet.com)</li>
	<li>•   Metamask (firefox and chrom browser add on www.metamask.io)</li>
	<li>•   Mist</li>
</ul>
<p><b style="color:#feb814">Mobile phone </b></p>
<ul>
	<li>•   We recommend ETH wallet mobile app called "trust" wallet.
This can be download on IOS App store or Android play store. After downloading click on "wallet" and then Ethereum tab. Lastly click receive and "copy wallet address".
</li>

</ul>
</div>
	  <div class="form-group">
	    <div class="form-check">
	      <input class="form-check-input" type="checkbox" name="terms" id="gridCheck">
	      <label class="form-check-label" for="gridCheck">
	        Read and Agree to <a target="_blank" href="/terms-of-services">terms and conditions</a>
	      </label>
	    </div>
	  </div>

		{{!-- <div class="alert alert-info" role="alert">
		<p>
	<b>ETH WALLET ADDRESS:</b> 
	Enter the ETH Address you will be using for your purchase. 
	Note: XBN Tokens can only be sent to the Wallet Address that you use to purchase XBN by sending Ethereum (which you can do on the next page). 
	Your ETH Wallet Address must be a local ERC20-supported wallet. Do not enter an address or send Ethereum to the XBN Smart Contract from an exchange (like Coinbase, Gdax, Binance, etc.).
</p>
<p>
	<b>If you are using a Desktop Computer:</b>
	Our personal favorite ETH Wallet is MetaMask, which is installed on your computer as a Chrome Browser Extension. Here is a link to MetaMask's website where you can download it: www.metamask.io). Another good one is MyEtherWallet (www.myetherwallet.com)
</p>
</div> --}}

		<div class="banner_text">
			{{!-- <button type="submit">Submit</button> --}}
                                    
      <a href="#" id="submit" class="blank">Submit</a>
                        </div>
	  {{!-- <button class="xbn-btn normal" type="submit">Sign up</button> --}}
</div>
{{!-- end of step 3 --}}
	</form>


    </div>
    </div>    
    </div>


</div>

</section>

