<div class="banner-section inner-page-banner">
	<h2 class="banner-section--content--title">
		Login To Build Network
	</h2>		
</div>

<div class="container">
<form method="POST" action="/sign-in" class="xbn-signin text-center">      
      <!-- <h1 class="section-title">Please sign in</h1> -->
      <img class="xbn-signin--icon" src="assets/images/login-icon.png" alt="">
      <input type="email" name="email" id="inputEmail" class="form-control xbn-signin--input" placeholder="Email address" required="" autofocus="">
      
      <input type="password" name="password" id="inputPassword" class="form-control xbn-signin--input" placeholder="Password" required="">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="xbn-btn normal" type="submit">Sign in</button>
          <hr />
<a href="/register" class="xbn-btn normal">First Time Here?</a>  
    </form>


</div>
