<!--timer section-->
<div class="container timmer-new">
  <h1 id="head">Private Sale</h1>
  <ul>
      {{!-- <li>Private Sale Start <span>30% discount</span></li> --}}
    <li>Coming Soon</li>
  </ul>
  <h1 style="color: red;
    font-weight: bold;">30% discount</h1>

    <section>
<div class="subscribe">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
        <hgroup>
          <h2>
            Subscribe For More Information 
          </h2>
          {{!-- <h1 class="free">For Free</h1> --}}
         </hgroup>
    	 <div class="well">
             <form action="#">
              <div class="input-group">
                 <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Your Email" required>
                 <button class="btn btn-info btn-lg" type="submit">Submit</button>
              </div>
             </form>
    	 </div>
         <small class="promise"><em>We won't send spam.</em></small>
		</div>
	</div>
</div>
</section>
  <br />
  <br />
</div>

<style>


.subscribe section {
    padding: 100px 0;
    text-align: center;
}
.subscribe select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}
.subscribe select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}
.subscribe .free {
    text-transform: uppercase;
}
.subscribe .input-group {
    margin: 20px auto;
    width: 100%;
}
.subscribe input.btn.btn-lg,
.subscribe input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.subscribe button.btn {
    width: 40%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.subscribe .promise {
    color: #999;
}



.timmer-new {
    margin-top: 100px;
  background-color: #ffc000;
}

.timmer-new {
  color: #333;
  text-align: center;
}

.timmer-new h1 {
  font-weight: normal;
}

.timmer-new li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: #431d5f;
  color: #ffc000;
  border-radius: 25px;


}

.timmer-new li span {
  display: block;
  font-size: 4.5rem;
}
</style>

<!--timer section-->

    <!--Banner part start-->
    <section id="banner_part">
        <div class="banner_slide">
            <div class="banner_bg" style="background: url(images/banners/banner1.jpg) no-repeat center; background-size: cover;min-height:672px;">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="banner_text">
                            
                            <div class="col-md-6">
                                <img src="images/banners/slider-1-item.png" style="width:346px ;height: 335px;margin-top:137px;" alt="placeholder+image">
                            </div>
                            <div class="col-md-6">
                                <h2 style="font-size:64px">We are Connected</h2>
                                <p style="font-size:24px">With over <b style="font-size: 32px">297,340+</b> construction contractors in different sectors around the world.</p>
                                <br />
                                <br />
                                <br />
                                <br />
                                <a href="/xbn-token">XBN Token</a>
                                {{!-- <a href="#" class="blank">Our Story</a> --}}
                                <br style="clear: both" />
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner_bg" style="background: url(images/banners/banner2.jpg) no-repeat center; background-size: cover; min-height:672px;">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="banner_text">
                            <div class="col-md-6">
                                <img src="images/banners/coin1.png" style="width:346px ;height: 335px;margin-top:137px;" alt="placeholder+image">
                            </div>
                            <div class="col-md-6">
                                <h2 style="font-size:42px">Empowering communities through decentralized blockchain</h2>
                                <p style="font-size:24px">With the construction industry reaching it’s peaks in recent times, our mission is to connect different contractors around the world to our customers through cryptocurrency. Thereby, creating jobs for our platform users whilst enriching our communities.</p>
                                <a href="/xbn-token">XBN Token</a>
                                {{!-- <a href="#" class="blank">Our Story</a> --}}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part End -->

<!-- about -->
<style type="text/css">
    #about_part {
    padding-top: 106px;
    background: transparent;
    color: #f9f9f9;
    padding-bottom: 132px;
    position: absolute;
    margin-top: -700px;
    left: 0;
    right: 0;
}
#particles-js {
    background-color: none;
    /* background-image: url(animation.css); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: 50% 50%; */
    position: relative;
    z-index: -1;
        height: 100vh;
}
</style>
 
 <div id="particles-js"></div>
    <!-- About part start -->
    <section id="about_part">
 <script type="text/javascript" src="js/particles.js"></script>
 <script type="text/javascript" src="js/app.js"></script>
        <div class="container">
            <div class="row">
                <div class="section_part_text">
                     <div style="text-align: center" class="col-md-12 textarea">
                         <div class="upper_part">
                            <h4>Our Mission</h4>
                        </div>
                        
                            
<video width="560" height="420" controls>
<source src="movie.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

                        
                         {{!-- <div class="banner_text">
                             <div class="button-styling">
                                <a href="/xbn-token">XBN Token</a>
                             </div>
                         </div> --}}
                     </div>
                     {{!-- <div class=" col-md-6 img-area">
                        <img src="images/mission.png"  class="img-responsive" alt="placeholder+image">
                      </div> --}}
                </div>
            </div>
        </div>

    </section>
    <!--about part end-->

<!-- about -->

     <!-- Decentralized part start -->
    <section id="centralized_part">
        <div class="container">
            <div class="row">
                <div class="section_part_text">
                     <div class=" col-md-6 img-area">
                        <img src="images/dc.png" class="img-responsive" alt="placeholder+image">
                      </div>
                      <div class=" col-md-6 textarea">
                         <div class="upper_part">
                            <h4>Decentralized Blockchain</h4>
                        </div>
                        <p>First decentralized blockchain token connecting building contractors and it's allied professionals to our community with the agenda to reduce or even eliminate unemployment locally and globally.</p>
                         <div class="banner_text">
                             <div class="button-styling">
                                <a href="/xbn-token">XBN Token</a>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
    <!--Decentralized part end-->

<!-- investors -->
 <style type="text/css">
    #time_part {
    padding-top: 106px;
    background: transparent;
    color: #f9f9f9;
    padding-bottom: 132px;
    position: absolute;
    margin-top: -700px;
    left: 0;
    right: 0;
}
#particles2-js {
    background-color: none;
    /* background-image: url(animation.css); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: 50% 50%; */
    position: relative;
    z-index: -1;
        height: 100vh;
}
</style>
 
 <div id="particles2-js"></div>
 <!-- Time part start -->
    <section id="time_part">
     <script type="text/javascript" src="js/particles.js"></script>
 <script type="text/javascript" src="js/app2.js"></script>
        <div class="container">
            <div class="row">
                <div class="section_part_text">
                     <div class=" col-md-6 textarea">
                         <div class="upper_part">
                            <h4>Members Area</h4>
                        </div>
                        <p>The time has come where investors have the autonomy to use cryptocurrency in the real work.</p>
                        {{!-- <p>Construction blockchain token built with the people in mind.</p>  --}}
                         <div class="banner_text">
                             <div class="button-styling">
                                <a href="/xbn-token">XBN Token</a>
                             </div>
                         </div>
                     </div>
                     <div class=" col-md-6 img-area">
                        <img src="images/investors-icon.png" class="img-responsive" alt="placeholder+image">
                      </div>
                </div>
            </div>
        </div>
    </section>
    <!--Time part end-->
<!-- investors -->

    <!-- Decentralized part start -->
    <section id="profit_part">
        <div class="container">
            <div class="row">
                <div class="section_part_text">
                     <div class=" col-md-6 img-area">
                        <img src="images/net-profit.png" class="img-responsive" alt="placeholder+image">
                      </div>
                      <div class=" col-md-6 textarea">
                         <div class="upper_part">
                            <h4>Dividends</h4>
                        </div>
                        <p>Decentralized blockchain token where 60% of the net profit from our building contracts around the world is shared among the community every month.</p>
                         
                         <div class="banner_text">
                             <div class="button-styling">
                                <a href="/xbn-token">XBN Token</a>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
    <!--Decentralized part end-->


<!-- Decentralized part start -->
    <section id="loans_part">
        <div class="container">
            <div class="row">
                <div class="section_part_text">
                     
                      <div class="col-md-6 textarea">
                         <div class="upper_part">
                            <h4>Loans</h4>
                        </div>
                        <p> The only platform with Interest free loan for our loyal investors. See whitepaper for interest free loan.</p>
                         
                         <div class="banner_text">
                             <div class="button-styling">
                                <a href="/xbn-token">XBN Token</a>
                             </div>
                         </div>
                     </div>
                     <div class="col-md-6 img-area">
                        <img src="images/growing.png" class="img-responsive" alt="placeholder+image">
                      </div>
                </div>
            </div>
        </div>
    </section>
    <!--Decentralized part end-->


    <!-- Time part start -->
    <section id="platform_part">
        <div class="container">
            <div class="row">
                <div class="section_part_text">
                     <div class=" col-md-6 textarea">
                         <div class="upper_part">
                            <h4>Fastest Growing Network</h4>
                        </div>
                        <p>Construction blockchain built with the people in mind.</p>
                         <div class="banner_text">
                             <div class="button-styling">
                                <a href="/xbn-token">XBN Token</a>
                             </div>
                         </div>
                     </div>
                     <div class=" col-md-6 img-area">
                        <img src="images/growing.png" class="img-responsive" alt="placeholder+image">
                      </div>
                </div>
            </div>
        </div>
    </section>
    <!--Time part end-->
<!-- Decentralized part start -->
    <section id="community_part">
        <div class="container">
            <div class="row">
                <div class="section_part_text">
                     <div class=" col-md-6 img-area">
                        
                      </div>
                      <div class=" col-md-6 textarea">
                         <div class="upper_part">
                            <h4>Contractor</h4>
                        </div>
                        <p> We are already connected with over 297,340+ construction contractors in different sectors around the world.</p> 
                        <p>These contractors will be able to upload their services on our platform at free of charge. </p> 
                        <p>Then our members can choose to use their local building contractors and make a different to unemployment in their community.</p> 
                        <p>These services can be paid with Build network token.</p>
                         <div class="banner_text">
                             <div class="button-styling">
                                <a href="/xbn-token">XBN Token</a>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
    <!--Decentralized part end-->


    <!-- Team part start -->
    {{!-- <section id="team_part" style="background: url(images/team/team.jpg) center center / cover no-repeat;">
        <div class="container">
            <div class="row">
                <div class="shap_list">
                <div class="upper_part">
                    <h4>OUR TEAM</h4>
                </div>
                    <div class="col-sm-6">
                        <div class="shap">
                            <div class="image1">
                                <img src="images/team/shape1.jpg" class="img-responsive" alt="shap">
                            </div>
                            <div class="image1">
                                <img src="images/team/shape2.jpg" class="img-responsive" alt="shap">
                            </div>
                            <div class="image1">
                                <img src="images/team/shape1.jpg" class="img-responsive" alt="shap">
                            </div>
                            <div class="image1">
                                <img src="images/team/shape2.jpg" class="img-responsive" alt="shap">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="shap_info">
                            <div class="shap_info_text">
                                <h4>Washikar Mohammad Ikbal</h4>
                                <p>Team 1</p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s , when an unknown printer took a gallery of type and scrambled.</h6>
                                <h3>Mohammad Ikabl</h3>
                                <h5>Follow Me</h5>
                                <a href="#"><span class="fa fa-facebook"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-pinterest"></span></a>
                                <a href="#"><span class="fa fa-linkedin"></span></a>
                                <a href="#"><span class="fa fa-behance"></span></a>
                            </div>
                            <div class="shap_info_text">
                                <div class="shap_info_text">
                                    <h4>Sakeba Aney</h4>
                                    <p>Team 2</p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled.</h6>
                                    <h3>Sakeba Aney</h3>
                                    <h5>Follow Me</h5>
                                    <a href="#"><span class="fa fa-facebook"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-pinterest"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                    <a href="#"><span class="fa fa-behance"></span></a>
                                </div>
                            </div>
                            <div class="shap_info_text">
                                <div class="shap_info_text">
                                    <h4>Mahadi Tahsan</h4>
                                    <p>Team 3</p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled.</h6>
                                    <h3>Mahadi Tahsan</h3>
                                    <h5>Follow Me</h5>
                                    <a href="#"><span class="fa fa-facebook"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-pinterest"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                    <a href="#"><span class="fa fa-behance"></span></a>
                                </div>
                            </div>
                            <div class="shap_info_text">
                                <div class="shap_info_text">
                                    <h4>Sakeba Aney</h4>
                                    <p>Team 4</p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled.</h6>
                                    <h3>Sakeba Aney</h3>
                                    <h5>Follow Me</h5>
                                    <a href="#"><span class="fa fa-facebook"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-pinterest"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                    <a href="#"><span class="fa fa-behance"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> --}}
    <!-- Chef part end-->

    <!-- Testimonial part start-->
    {{!-- <section id="testimonial_part">
        <div class="container">
            <div class="row">
                <div class="upper_part">
                    <h4>OUR PARTNERS</h4>
                </div>
                <div class="menu_part_text">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar.
                    </p>
                </div>
            </div>
        </div>
        <div class="testimonial_background">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="clent">
                            <div class="col-md-6">
                                <div class="image_background">
                                    <img src="images/testimonials/testimonial_img.png" class="img-responsive" alt="">
                                </div>
                                <div class="text_background text-center">
                                    <h4 style="color:#000;">Ikbal Mohammad</h4>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <h6>Client 1</h6>
                                    <p><span style="color:#000;"> Lorem Ipsum is simply dummy text of the printing and type setting. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="image_background">
                                    <img src="images/testimonials/testimonial_img2.png" class="img-responsive" alt="">
                                </div>
                                <div class="text_background">
                                    <h4 style="color:#000;">Sakeba Aney</h4>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <h6>Client 2</h6>
                                    <p><span style="color:#000;">Lorem Ipsum is simply dummy text of the printing and type setting. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="image_background">
                                    <img src="images/testimonials/testimonial_img.png" class="img-responsive" alt="">
                                </div>
                                <div class="text_background">
                                    <h4 style="color:#000;">Mahadi Tahsan</h4>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <h6>Client 3</h6>
                                    <p><span style="color:#000;">Lorem Ipsum is simply dummy text of the printing and type setting. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="image_background">
                                    <img src="images/testimonials/testimonial_img2.png" class="img-responsive" alt="">
                                </div>
                                <div class="text_background">
                                    <h4 style="color:#000;">Sneha Tasmi</h4>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <h6>Client 4</h6>
                                    <p><span style="color:#000;">Lorem Ipsum is simply dummy text of the printing and type setting. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> --}}
    <!-- Testimonial part end -->
    
    